<!doctype html>
<html>
<head>
  <meta charset="utf-8">
<title>getheaders!</title>
</head>
<body>

<h2>Your Browsers Headers</h2>
{% for header,value in headers|dictsort %}
<div class="header">
  <span class="headerName">{{ header }}</span>:&nbsp;<span class="headerValue">{{ value }}</span>
</div>
{% endfor %}

<h2>Other Ways To Use This Site</h2>

<pre>
> curl -H Accept:application/json http://getheaders.net
or
> curl http://getheaders.net/default.json
{
  "Content-Length": "",
  "X-Remote-Addr": "127.0.0.1",
  "Accept": "*/*",
  "User-Agent": "curl/7.21.4 (universal-apple-darwin11.0) libcurl/7.21.4 OpenSSL/0.9.8r zlib/1.2.5",
  "X-Xhr": false,
  "Host": "localhost:5000",
  "X-Remote-Host": "localhost",
  "Content-Type": ""
}
</pre>
<pre>
> curl -H Accept:application/xml http://getheaders.net
or
> curl http://getheaders.net/default.xml
&lt;headers&gt;
    &lt;Accept&gt;*/*&lt;/Accept&gt;
    &lt;Content-Length&gt;&lt;/Content-Length&gt;
    &lt;Content-Type&gt;&lt;/Content-Type&gt;
    &lt;Host&gt;localhost:5000&lt;/Host&gt;
    &lt;User-Agent&gt;curl/7.21.4 (universal-apple-darwin11.0) libcurl/7.21.4 OpenSSL/0.9.8r zlib/1.2.5&lt;/User-Agent&gt;
    &lt;X-Remote-Addr&gt;127.0.0.1&lt;/X-Remote-Addr&gt;
    &lt;X-Remote-Host&gt;localhost&lt;/X-Remote-Host&gt;
    &lt;X-Xhr&gt;False&lt;/X-Xhr&gt;
&lt;/headers&gt;
</pre>

<pre>
> curl -H Accept:text/plain http://getheaders.net
or
> curl http://getheaders.net/default.txt
xhr: false
Content-Length:
remote_addr: 127.0.0.1
Content-Type:
Host: localhost:5000
Accept: text/plain
User-Agent: curl/7.21.4 (universal-apple-darwin11.0) libcurl/7.21.4 OpenSSL/0.9.8r zlib/1.2.5
</pre>

<a href="https://github.com/tinnet/getheaders"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<script>
  var _gaq=[['_setAccount','UA-29965663-1'],['_setSiteSpeedSampleRate', 100],['_gat._anonymizeIp'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
